[submodule "binds/barrister"]
	path = binds/barrister
	url = https://github.com/coopernurse/barrister.git
[submodule "binds/barrister-php"]
	path = binds/barrister-php
	url = https://github.com/coopernurse/barrister-php.git
[submodule "binds/barrister-java"]
	path = binds/barrister-java
	url = https://github.com/coopernurse/barrister-java.git
[submodule "binds/barrister-go"]
	path = binds/barrister-go
	url = https://github.com/coopernurse/barrister-go.git
[submodule "binds/barrister-ruby"]
	path = binds/barrister-ruby
    url = https://github.com/coopernurse/barrister-ruby.git
[submodule "binds/barrister-js"]
	path = binds/barrister-js
	url = https://github.com/coopernurse/barrister-js.git
